{{ if ne (get . "takumiGuard" | default "none") "none" -}}
[[index]]
url = "https://token:{{ .takumiGuardToken }}@pypi.flatt.tech/simple/"
default = true
{{ else -}}
[[index]]
url = "https://pypi.flatt.tech/simple/"
default = true
{{ end -}}
