[submodule ".tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "utils/dircolors-solarized"]
	path = utils/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
