## Common Environment variable configuration
export LANG=en_US.UTF-8
case ${UID} in
0)
    LANG=C
    ;;
esac

## Command history configuration
#
HISTFILE=${HOME}/.zsh_history
HISTSIZE=50000
SAVEHIST=50000
setopt hist_ignore_space    # ignore 
setopt hist_ignore_dups     # ignore duplication command history list
setopt share_history        # share command history data

{{ if (eq .chezmoi.os "linux") -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL-specific code
export SSH_AUTH_SOCK="$HOME/.ssh/agent.sock"
if ! ss -a | grep -q "$SSH_AUTH_SOCK"; then
  rm -f "$SSH_AUTH_SOCK"
  wsl2_ssh_pageant_bin="$HOME/.ssh/wsl2-ssh-pageant.exe"
  if test -x "$wsl2_ssh_pageant_bin"; then
    (setsid nohup socat UNIX-LISTEN:"$SSH_AUTH_SOCK,fork" EXEC:"$wsl2_ssh_pageant_bin" >/dev/null 2>&1 &)
  else
    echo >&2 "WARNING: $wsl2_ssh_pageant_bin is not executable."
  fi
  unset wsl2_ssh_pageant_bin
fi
{{   end -}}
{{ end -}}

## oh-my-posh
eval "$(oh-my-posh --init --shell zsh --config ~/.config/powershell/theme.yaml)"
enable_poshtransientprompt

## Environment variable configuration
if type code >/dev/null 2>&1; then
  export EDITOR="code --wait"
elif type vim >/dev/null 2>&1; then
  export EDITOR=vim
fi

export LESS='--tabs=4 --no-init --LONG-PROMPT --ignore-case -R'

[ -d ${HOME}/bin ] && export PATH=${PATH}:${HOME}/bin
[ -d ${HOME}/.cabal/bin ] && export PATH=${PATH}:${HOME}/.cabal/bin
export GOPATH=~/go
export path=(~/go/bin $path)

## Alias configuration
setopt complete_aliases     # aliased ls needs if file/dir completions work

alias where="command -v"
alias j="jobs -l"

case "${OSTYPE}" in
freebsd*|darwin*)
    if (( $+commands[gls] )) ; then
        alias ls="gls --color"
    else
        alias ls="ls -G -w"
    fi
    ;;
linux*)
    alias ls="ls --color"
    ;;
esac

alias la="ls -a"
alias lf="ls -F"
alias ll="ls -al"

alias du="du -h"
alias df="df -h"

alias su="su -l"

## load user .zshrc configuration file
#
if [ -f ${HOME}/.zshrc.mine ]; then
    source ${HOME}/.zshrc.mine
fi
