eval $($(brew --prefix)/bin/brew shellenv)
eval "$(oh-my-posh --init --shell zsh --config ~/.config/powershell/theme.json)"


if type code >/dev/null 2>&1; then
  export EDITOR="code --wait"
elif type vim >/dev/null 2>&1; then
  export EDITOR=vim
else
  export LESS='--tabs=4 --no-init --LONG-PROMPT --ignore-case -R'
fi

[ -d ${HOME}/bin ] && export PATH=${PATH}:${HOME}/bin
[ -d ${HOME}/.cabal/bin ] && export PATH=${PATH}:${HOME}/.cabal/bin
export GOPATH=~/go
export path=(~/go/bin $path)

## Alias configuration
#
# expand aliases before completing
#

setopt complete_aliases     # aliased ls needs if file/dir completions work

alias where="command -v"
alias j="jobs -l"

case "${OSTYPE}" in
freebsd*|darwin*)
    if (( $+commands[gls] )) ; then
        alias ls="gls --color"
    else
        alias ls="ls -G -w"
    fi
    ;;
linux*)
    alias ls="ls --color"
    ;;
esac

alias la="ls -a"
alias lf="ls -F"
alias ll="ls -al"

alias du="du -h"
alias df="df -h"

alias su="su -l"
