{{ if (eq .chezmoi.os "darwin") -}}
# path_helperが悪さをするらしいので対策
# https://github.com/mizdra/dotfiles/blob/2fadd667a059abae3d7c2c5e05a792569c687865/dot_zshenv#L1-L14
setopt no_global_rcs
if [ -x /usr/libexec/path_helper ]; then
    eval `/usr/libexec/path_helper -s`
fi
{{ end -}}

export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:=${HOME}/.config}
export ZDOTDIR=${HOME}/.config/zsh

## Common Environment variable configuration
export LANG=en_US.UTF-8
case ${UID} in
0)
    LANG=C
    ;;
esac

## Environment variable configuration
{{ if lookPath "code" -}}
export EDITOR="code --wait"
{{ else -}}
if type code >/dev/null 2>&1; then
  export EDITOR="code --wait"
elif type vim >/dev/null 2>&1; then
  export EDITOR=vim
fi
{{ end -}}

path=(
  $path
  ${HOME}/bin(N-/)
  ${HOME}/.local/bin(N-/)
)

# go
export GOPATH=~/go
export path=(~/go/bin $path)

{{ if lookPath "brew" -}}
  {{ output "brew" "shellenv" }}
{{ else -}}
  {{ if (eq .chezmoi.os "darwin") -}}
if [[ -x /opt/homebrew/bin/brew ]] then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
  {{ end -}}
  {{ if (eq .chezmoi.os "linux") -}}
if [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]] then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
  {{ end -}}
{{ end -}}

{{ if stat "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ end -}}

{{ if stat "~/.1password/agent.sock" -}}
export SSH_AUTH_SOCK=~/.1password/agent.sock
{{ end -}}

{{ if stat "~/.local/share/mise/shims" -}}
export PATH="$HOME/.local/share/mise/shims:$PATH"
{{ end -}}

{{ if stat "~/.rd/bin" -}}
# Rancher Desktopのパスを通す
export PATH="$HOME/.rd/bin:$PATH"
{{ end -}}

