min-release-age={{ if not .isWork }}1{{ else }}3{{ end }}
ignore-scripts=true

{{ if not .isWork }}
# Takumi Guard npm repository
registry=https://npm.flatt.tech/
//npm.flatt.tech/:_authToken={{ onepasswordRead "op://Private/Takumi guard/credential" }}
{{ end }}
