{{ if eq .chezmoi.os "windows" -}}
@exit
{{ end -}}
#!/usr/bin/env bash


if !(type "brew" > /dev/null 2>&1) ; then
  {{ if (eq .chezmoi.os "linux") }}
    {{ if eq .chezmoi.osRelease.id "debian" }}
      sudo apt-get install build-essential procps curl file git
    {{ else if eq .chezmoi.osRelease.id "fedora" }}
      sudo yum groupinstall 'Development Tools'
      sudo yum install procps-ng curl file git
      sudo yum install libxcrypt-compat # needed by Fedora 30 and up
    {{ end }}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{  end }}
  {{ if (eq .chezmoi.os "darwin") }}
]    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{  end }}
fi

{{ if (eq .chezmoi.os "darwin") -}}
  eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
{{ if (eq .chezmoi.os "linux") -}}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

cd {{.chezmoi.sourceDir}}
brew bundle

# コメントでファイルをインクルードして変更検知させるハック
{{ include "Brewfile"| comment "# " }}
