{{ if eq .chezmoi.os "windows" -}}
@exit
{{ end -}}
#!/usr/bin/env bash

{{ if not (.homebrew) }}
  exit
{{ end -}}

if [ -e /opt/homebrew/bin/brew ] ; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
if [ -e /home/linuxbrew/.linuxbrew/bin/brew ] ; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if !(type "brew" > /dev/null 2>&1) ; then
  {{ if (eq .chezmoi.os "linux") }}
    {{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
      sudo apt-get install build-essential procps curl file git
    {{ else if eq .chezmoi.osRelease.id "fedora" }}
      sudo yum groupinstall 'Development Tools'
      sudo yum install procps-ng curl file git
      sudo yum install libxcrypt-compat # needed by Fedora 30 and up
    {{ end }}
  {{  end }}
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{ if (eq .chezmoi.os "darwin") -}}
    eval "$(/opt/homebrew/bin/brew shellenv)"
  {{ end -}}
  {{ if (eq .chezmoi.os "linux") -}}
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  {{ end -}}
fi

if (type "brew" > /dev/null 2>&1) ; then
  brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.homebrew.darwin_brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.homebrew.linux_brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
fi

