{{ if eq .chezmoi.os "windows" -}}

# Scoop インストールしたりする initial script
# PowerShell 7 がインストールされてる前提

Function Test-CommandExists
{
  Param ($command)
  $oldPreference = $ErrorActionPreference
  $ErrorActionPreference = ‘stop’
  try {if(Get-Command $command){“$command exists”}}
  Catch {“$command does not exist”}
  Finally {$ErrorActionPreference=$oldPreference}
}

If(!(Test-CommandExists scoop)) {
  Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
}

{{ end -}}
