{{ if eq .chezmoi.os "windows" -}}

{{ range .packages.winget.apps -}}
winget install --id {{ . | quote }} --exact --no-upgrade --accept-source-agreements --accept-package-agreements
{{ end -}}

{{ end -}}
