{{ if eq .chezmoi.os "windows" -}}

# Buckets
{{ range .packages.scoop.buckets -}}
if (!(scoop bucket list | Select-String -SimpleMatch {{ . | quote }})) {
    scoop bucket add {{ . | quote }}
}
{{ end -}}

# Apps
{{ range .packages.scoop.apps -}}
if (!(scoop list | Select-String -SimpleMatch {{ . | quote }})) {
    scoop install {{ . | quote }}
}
{{ end -}}

{{ end -}}
