{{ if (eq .chezmoi.os "darwin") -}}
{{ if stat "/etc/zshrc" -}}
# path_helperが悪さをするらしいので対策
# https://zenn.dev/enchan1207/articles/7b9d7d397b7d0d
. /etc/zshrc
{{ end -}}
{{ end -}}

# fpath
fpath=(
  $ZDOTDIR/fpath(N-/)
  $ZDOTDIR/plugins/zsh-completions/src(N-/)

  $fpath
)

# zsh-defer
source $ZDOTDIR/plugins/zsh-defer/zsh-defer.plugin.zsh

# load configs
{{- range (glob (joinPath .chezmoi.sourceDir "private_dot_config/zsh/sync/*")) }}
{{-   $name := base . }}
{{-   if not (hasPrefix "." $name) }}
source $ZDOTDIR/sync/{{ $name | replace "dot_" "." | trimSuffix ".tmpl" }}
{{-   end }}
{{- end }}
{{- range (glob (joinPath .chezmoi.sourceDir "private_dot_config/zsh/defer/*")) }}
{{-   $name := base . }}
{{-   if not (hasPrefix "." $name) }}
zsh-defer source $ZDOTDIR/defer/{{ $name | replace "dot_" "." | trimSuffix ".tmpl" }}
{{-   end }}
{{- end }}
## load user .zshrc configuration file
#
if [ -f ${HOME}/.zshrc.mine ]; then
    source ${HOME}/.zshrc.mine
fi

# ZLE plugins that redraw the command line must not be deferred.
# Load autosuggestions before syntax highlighting, and keep highlighting last.
if [[ -n ${SSH_TTY:-} || -n ${SSH_CONNECTION:-} ]]; then
  ZSH_AUTOSUGGEST_MANUAL_REBIND=1
  __DOTFILES_SSH_ZSH_AUTOSUGGEST_SYNC=1
fi
source $ZDOTDIR/plugins/autosuggestions/zsh-autosuggestions.zsh
if [[ -n ${__DOTFILES_SSH_ZSH_AUTOSUGGEST_SYNC:-} ]]; then
  unset ZSH_AUTOSUGGEST_USE_ASYNC
  unset __DOTFILES_SSH_ZSH_AUTOSUGGEST_SYNC
fi
source $ZDOTDIR/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
if [[ -n ${ZSH_AUTOSUGGEST_MANUAL_REBIND:-} ]]; then
  _zsh_autosuggest_bind_widgets
fi
