{{ if lookPath "brew" -}}
[ -d $(brew --prefix)/share/zsh/site-functions ] && fpath=($(brew --prefix)/share/zsh/site-functions $fpath)
{{- end }}

autoload -Uz compinit
compinit 
{{ completion "zsh" }}

{{ if lookPath "carapace" -}}
export CARAPACE_BRIDGES='zsh,fish,bash,inshellisense'
zstyle ':completion:*' format $'\e[2;37mCompleting %d\e[m'

source <(carapace _carapace)
{{- end }}
