Host *
{{ if eq .chezmoi.os "darwin" -}}
{{- if stat (joinPath .chezmoi.homeDir "Library" "Group Containers" "2BUA8C4S2C.com.1password" "t" "agent.sock") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
  {{- if stat (joinPath .chezmoi.homeDir ".1password" "agent.sock") }}
	IdentityAgent ~/.1password/agent.sock
  {{- end }}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
{{ end -}}
  ForwardAgent yes
