{{ if ne (get . "takumiGuard" | default "none") "none" -}}
[global]
index-url = https://token:{{ .takumiGuardToken }}@pypi.flatt.tech/simple/
{{ else -}}
[global]
index-url = https://pypi.flatt.tech/simple/
{{ end -}}
