{{ if ne (get . "takumiGuard" | default "none") "none" -}}
---
BUNDLE_MIRROR__HTTPS://RUBYGEMS__ORG: "https://token:{{ .takumiGuardToken }}@rubygems.flatt.tech/"
{{ else -}}
---
BUNDLE_MIRROR__HTTPS://RUBYGEMS__ORG: "https://rubygems.flatt.tech/"
{{ end -}}
